body{
font-size:15.5px;
}

.item.smarterer{
	display:none;
	position: absolute;
	top: 160px;
	left: -138px;
}

.item.smarterer a{
	float:left;
	clear:both;
}

.header{
	margin-bottom:0.770em;
	padding-bottom: 0.770em;
}

.about .pull-tab{
	display:none;
}

.section{
	margin-bottom:0.83em;
}

.sectionTitle{
	width:16%;
}

.sectionRight{
	width:80%;
}

.section:last-child{
	margin-bottom: 0px;
}

.item{
	margin-bottom: 0.5em;
	padding: 0px;
}

.print{
	display:none;
}

.item:last-child{
	margin-bottom: 0px;
}

.objective{
	 width:60%;
}

.container{
	-moz-box-shadow: 0px 0px 0px #888;
	-webkit-box-shadow: 0px 0px 0px #888;
	box-shadow: 0px 0px 0px #888;		
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	width:95%;	
}

.link.codeSample{
	display:none;
}

body{
	background-color: white;
}