	body{
		font-family: helvetica;
		font-size:13px;
		background-color:#cccccc;
	}
	.sectionTitle{
		width:19%;
		text-align:right;
		padding-right:1.54em;
		font-size: 1.15em;
		float:left;
        margin-top:6px;
	}

    h2{
        font-size:inherit;
        font-weight:inherit;
        line-height:inherit;
    }
	
	.sectionRight{
		width:77%;
		float:left;
		position:relative;
	}
	
	.section{
		margin-bottom:1.154em;
	}
	
	.section:last-child{
 	       margin-bottom: 0px;
	}
	
	h1,.sectionTitle{
		text-transform:uppercase;
		font-weight:bold;
	}
	
	ul{
		-webkit-margin-after: 0px;
		-webkit-padding-start: 1.54em;
		clear:left;
		margin-left:1.154em;
		margin-top:0.385em;
		margin-bottom:0px;
		padding-left:0px;
	}

    div.info{
        width:100%;
    }

    div.contact > div{
        line-height:50px;
        float:left;
        width:39%;
    }

    div.contact div.right div{
        float:right;
        margin-left:10px;
    }

    div.contact div.left div{
        float:left;
        margin-right:10px;
    }

    div.contact div.name{
        text-align:center;
        width:22%;
    }

    div.contact div.name h1{
        line-height:50px;
        margin:0;
    }
	
	h1{
		-webkit-margin-after: 0.385em;
		-webkit-margin-before: 0px;
		font-size:1.85em;
		margin-bottom:0px;
	}
	
	.header{
		padding-bottom: 1.154em;
	}
	
	.about{
		border-top:0.077em solid #e3e3e3;
        border-bottom:0.077em solid #e3e3e3;
		margin-bottom:1.5em;
		position:relative;
	}
	
	.about .content{
		padding:10px;
	}
	
	.about .pull-tab.off{
		position:absolute;
		bottom:-1.3em;
		right:1em;
		opacity:0.5;
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-top: 1em solid #719fb6;
	}
	
	.about .pull-tab.on{
		position:absolute;
		bottom:-1.3em;
		right:1em;
		opacity:0.5;
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-bottom: 1em solid #719fb6;
	}
	
	.title{
		font-weight:bold;
		font-size:1.077em;
		float:left;
	}

	.secondaryTitle{
		float:left;
		margin-left:3.077em;
	}
	
	.secondaryTitle.gpa{
		display:none;
	}
	
	.item{
		margin-bottom: 1.154em;
		padding:5px;
	}
	
	.item.animate{
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	.link{
		font-style:italic;
	}
	
	.item:last-child{
		margin-bottom: 0px;
	}
	
	.item:hover{
		background-color:#efefef;
		-moz-box-shadow: 0px 0px 1em #888;
		-webkit-box-shadow: 0px 0px 1em #888;
		box-shadow: 0px 0px 1em #888;
	}
	
	.item:hover a{
		text-decoration:none;
	}
	
	.print{
		background-image:url(../img/print_icon.jpg);
		width:25px;
		height:25px;
		position:absolute;
		top:0;
		right:0;
		background-size:25px 25px;
		cursor: pointer;
	}
	
	.container{
		width: 8.5in;
		min-height: 11in;
		overflow: hidden;
		position:relative;
		-moz-box-shadow: 0px 0px 2.308em #888;
		-webkit-box-shadow: 0px 0px 2.308em #888;
		box-shadow: 0px 0px 2.308em #888;
		margin-right:auto;
		margin-left:auto;
		padding:3.846em;
		background-color:white;
		padding-top:2.308em;
	}
	
	.info{
		float:left;
	}
	
	.info ul{
		 margin-top:0px;
		 list-style: none;
		 -webkit-padding-start: 0px;
		 font-size:1em;
		 padding-left:0px;
		 margin-left:0px;
	}
	
	.objective{
		 float:right;
		 margin-top:0.692em;
		 width:24.154em;
		 font-size:1em;
	}
	
	.cleaner{
		clear:both;
	}
	
	.popup{
		-moz-border-radius: 6px;
		background: #EEF2F7;
		-webkit-border-radius: 6px;
		border: 1px solid #536376;
		-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
		-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
		padding: 14px 22px;
		position: relative;
		display: none;
	}
	
	.popup h2{
		text-align:center;
	}
	
	.popup.loading{
		height:80px;
		width:150px;
	}
	
	.popup .spinner{
		top: 20%;
		left: 50%;
	}
	
	.smarterer div.img{
		width:100px;
                height:90px;
		float:left;
	}
	
	#smarterer_php{
                width:100px;
                height:90px;
            	background:transparent url('../img/smarterer/php.png') 0 0 no-repeat
	}

        #smarterer_html{
                width:100px;
                height:90px;
                background:transparent url('../img/smarterer/html.png') 0 0 no-repeat
        }

        #smarterer_html5{
                width:100px;
                height:90px;
                background:transparent url('../img/smarterer/html5.png') 0 0 no-repeat
        }

        #smarterer_css{
                width:100px;
                height:90px;
                background:transparent url('../img/smarterer/css.png') 0 0 no-repeat
        }

        #smarterer_jquery{
                width:100px;
                height:90px;
                background:transparent url('../img/smarterer/jquery.png') 0 0 no-repeat
        }
